In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
data['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [6]:
data['location'] = data['location'].fillna(data['location'].mode().sum())

In [7]:
data = data.drop(['society'], axis=1)

In [8]:
data = data.drop(['availability'], axis=1)

In [9]:
data['balcony'].unique()

array([ 1.,  3., nan,  2.,  0.])

In [10]:
data['balcony'] = data['balcony'].fillna(data['balcony'].median())

In [11]:
data.isnull().sum()

area_type      0
location       0
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

In [12]:
data = data.dropna()

In [13]:
data.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [14]:
data

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,2.0,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [15]:
df2 = data.copy()

In [16]:
df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

In [17]:
df2

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,2.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1

In [18]:
df2 = df2.drop(['size'], axis=1)

In [19]:
def checkFloat(x):
    try:
        float(x)
    except:
        return False
    return True

In [20]:
df2[~df2['total_sqft'].apply(checkFloat)]

,area_type,location,total_sqft,bath,balcony,price,BHK
30,Super built-up Area,Yelahanka,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,Hebbal,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,8th Phase JP Nagar,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,Sarjapur,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,KR Puram,1015 - 1540,2.0,0.0,56.800,2
...,...,...,...,...,...,...,...
12975,Super built-up Area,Whitefield,850 - 1060,2.0,0.0,38.190,2
12990,Super built-up Area,Talaghattapura,1804 - 2273,3.0,0.0,122.000,3
13059,Super built-up Area,Harlur,1200 - 1470,2.0,0.0,72.760,2
13265,Super built-up Area,Hoodi,1133 - 1384,2.0,0.0,59.135,2
13299,Super built-up Area,Whitefield,2830 - 2882,5.0,0.0,154.500,4

In [21]:
def convertToNum(x):
    token = x.split('-')
    if len(token) == 2:
        return (float(token[0]) + float(token[1]))/2
    try:
        return float(x)
    except:
        return

In [22]:
df3 = df2.copy()

In [23]:
df3['total_sqft'] = df3['total_sqft'].apply(convertToNum)

In [24]:
df3

,area_type,location,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,1200.0,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,0.0,231.00,5
13316,Super built-up Area,Richards Town,3600.0,5.0,2.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,1.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,1.0,488.00,4
13319,Super built-up Area,Doddathoguru,550.0,1.0,1.0,17.00,1

In [25]:
df3['total_sqft'].dtype

dtype('float64')

In [26]:
df3.loc[30]

area_type     Super built-up  Area
location                 Yelahanka
total_sqft                    2475
bath                             4
balcony                          0
price                          186
BHK                              4
Name: 30, dtype: object

In [27]:
df4 = df3.copy()

In [28]:
df4['price_per_sqft'] = df4['price']*100000/df4['total_sqft']

In [29]:
df4

,area_type,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,0.0,231.00,5,6689.834926
13316,Super built-up Area,Richards Town,3600.0,5.0,2.0,400.00,4,11111.111111
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,1.0,488.00,4,10407.336319
13319,Super built-up Area,Doddathoguru,550.0,1.0,1.0,17.00,1,3090.909091

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
df4.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [32]:
leArea= LabelEncoder()

In [33]:
df4['area_type'] =leArea.fit_transform(df4['area_type'])

In [34]:
#df4['area_type'] = leArea.fit_transform(df4['area_type'])

In [35]:
#df4['area_type'].unique()

In [36]:
df4

,area_type,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,3,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,2,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,0,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,3,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,0,Whitefield,3453.0,4.0,0.0,231.00,5,6689.834926
13316,3,Richards Town,3600.0,5.0,2.0,400.00,4,11111.111111
13317,0,Raja Rajeshwari Nagar,1141.0,2.0,1.0,60.00,2,5258.545136
13318,3,Padmanabhanagar,4689.0,4.0,1.0,488.00,4,10407.336319
13319,3,Doddathoguru,550.0,1.0,1.0,17.00,1,3090.909091

In [37]:
df5 = df4.copy()

In [38]:
location = df5['location'].value_counts().sort_values(ascending = False)

In [39]:
locationLess10 = location[location<10]

In [40]:
locationLess10

Richmond Town           9
Chennammana Kere        9
KUDLU MAIN ROAD         9
2nd Phase JP Nagar      9
Vignana Nagar           9
                       ..
Thyagraj Nagar          1
K N Extension           1
Asthagrama Layout       1
1A Block Koramangala    1
3rd Phase Iti Layout    1
Name: location, Length: 1051, dtype: int64

In [41]:
df5['location'] = df5['location'].apply(lambda x: 'other' if x in locationLess10 else x)

In [42]:
df5.head(10)

,area_type,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,3,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,2,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,0,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,3,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
5,3,Whitefield,1170.0,2.0,1.0,38.00,2,3247.863248
6,3,Old Airport Road,2732.0,4.0,2.0,204.00,4,7467.057101
7,3,Rajaji Nagar,3300.0,4.0,2.0,600.00,4,18181.818182
8,3,Marathahalli,1310.0,3.0,1.0,63.25,3,4828.244275
9,2,other,1020.0,6.0,2.0,370.00,6,36274.509804

In [43]:
df6 = df5.copy()

In [44]:
df6['total_sqft'].dtype

dtype('float64')

In [45]:
df6['BHK'].dtype

dtype('int64')

In [46]:
df6[df6['total_sqft']/df6['BHK']<300].head()

,area_type,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
9,2,other,1020.0,6.0,2.0,370.0,6,36274.509804
45,2,HSR Layout,600.0,9.0,2.0,200.0,8,33333.333333
58,2,Murugeshpalya,1407.0,4.0,1.0,150.0,6,10660.980810
68,2,other,1350.0,7.0,0.0,85.0,8,6296.296296
70,2,other,500.0,3.0,2.0,100.0,3,20000.000000

In [47]:
df6 = df6[~(df6['total_sqft']/df6['BHK']<300)]

In [48]:
leLocation = LabelEncoder()

In [49]:
df6['location'] = leLocation.fit_transform(df6['location'])

In [50]:
df6

,area_type,location,total_sqft,bath,balcony,price,BHK,price_per_sqft
0,3,84,1056.0,2.0,1.0,39.07,2,3699.810606
1,2,64,2600.0,5.0,3.0,120.00,4,4615.384615
2,0,238,1440.0,2.0,3.0,62.00,3,4305.555556
3,3,167,1521.0,3.0,1.0,95.00,3,6245.890861
4,3,159,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,0,247,3453.0,4.0,0.0,231.00,5,6689.834926
13316,3,253,3600.0,5.0,2.0,400.00,4,11111.111111
13317,0,205,1141.0,2.0,1.0,60.00,2,5258.545136
13318,3,196,4689.0,4.0,1.0,488.00,4,10407.336319
13319,3,78,550.0,1.0,1.0,17.00,1,3090.909091

In [51]:
df6 = df6.dropna()

In [52]:
x = df6.drop(['price'], axis=1)

In [53]:
y = df6['price']

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=10)

In [56]:
xtrain.shape

(9965, 7)

In [57]:
xtest

       area_type  location  total_sqft  bath  balcony  BHK  price_per_sqft
10725          1       121      2400.0   3.0      3.0    3     8166.666667
6275           3       247      2856.0   5.0      0.0    4     5409.663866
11509          2       253       410.0   1.0      1.0    1    11707.317073
9088           3       111      1420.0   3.0      2.0    3     4084.507042
4970           3       101      1520.0   2.0      2.0    3     6315.789474
...          ...       ...         ...   ...      ...  ...             ...
6667           3       253      1030.0   2.0      2.0    2    29126.213592
7713           3       107      1195.0   2.0      2.0    2     6108.786611
10175          0       174      1100.0   2.0      2.0    1     6818.181818
6221           2       165      1200.0   2.0      0.0    2     6250.000000
5921           3        63      1160.0   2.0      1.0    2     4741.379310

[2492 rows x 7 columns]

In [58]:
ytrain.shape

(9965,)

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
from sklearn.ensemble import RandomForestRegressor

In [61]:
model_L = LinearRegression()
model_L.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
model_R = RandomForestRegressor(n_estimators=150)
model_R.fit(xtrain, ytrain)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=150, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [63]:
model_L.score(xtest, ytest
             )

0.7296165739573062

In [64]:
model_R.score(xtest, ytest)

0.9611850780039665

In [65]:
prediction_test = model_R.predict(xtest)

In [66]:
model_R.predict([[3, 84, 1056.0, 2.0, 1.0, 4, 5000.810606
]])

array([52.87373333])

In [67]:
x.columns

Index(['area_type', 'location', 'total_sqft', 'bath', 'balcony', 'BHK',
       'price_per_sqft'],
      dtype='object')

In [68]:
from sklearn.externals import joblib

C:\Users\usama\AppData\Local\conda\conda\envs\tensorflow\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [69]:
joblib.dump(model_R, 'house_regression')

['house_regression']

In [72]:
trained = joblib.load('house_regression')

In [76]:
trained.predict([[3, 3, 1056.0, 2.0, 1.0, 4, 5000.810606
]])

array([52.87043333])

In [77]:
#price is in Lakhs